@import "tailwindcss";

@source "../../../packages/ui/src/**/*.{ts,tsx}";

@theme {
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  --color-sidebar: var(--sidebar-background);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);
}

@layer base {
  :root {
    --background: oklch(99.3% 0.0016 136.6);
    /* gray-1 #FCFDFC */
    --foreground: oklch(24.2% 0.0115 136.6);
    /* gray-12 #1D211C */
    --card: oklch(99.3% 0.0016 136.6);
    /* gray-1 #FCFDFC */
    --card-foreground: oklch(24.2% 0.0115 136.6);
    /* gray-12 #1D211C */
    --popover: oklch(99.3% 0.0016 136.6);
    /* gray-1 #FCFDFC */
    --popover-foreground: oklch(24.2% 0.0115 136.6);
    /* gray-12 #1D211C */
    --primary: oklch(55% 0.1742 142.4);
    /* green-9 #1B8917 */
    --primary-foreground: oklch(1 0 0);
    /* white #FFFFFF */
    --secondary: oklch(95.6% 0.0037 136.6);
    /* gray-3 #EFF1EF */
    --secondary-foreground: oklch(24.2% 0.0115 136.6);
    /* gray-12 #1D211C */
    --muted: oklch(95.6% 0.0037 136.6);
    /* gray-3 #EFF1EF */
    --muted-foreground: oklch(50% 0.0114 136.6);
    /* gray-11 #60655E */
    --accent: oklch(95.6% 0.0037 136.6);
    /* gray-3 #EFF1EF */
    --accent-foreground: oklch(24.2% 0.0115 136.6);
    /* gray-12 #1D211C */
    --destructive: oklch(0.577 0.245 27.325);
    /* #E7000B */
    --destructive-foreground: oklch(98.5% 0 0);
    /* #FAFAFA */
    --border: oklch(88.6% 0.0057 136.6);
    /* gray-6 #D7DAD6 */
    --input: oklch(90.9% 0.0046 136.6);
    /* gray-5 #E0E2DF */
    --ring: oklch(55% 0.1742 142.4);
    /* green-9 #1B8917 */
    --radius: 0.5rem;

    --sidebar-background: oklch(98.2% 0.002 136.6);
    --sidebar-foreground: oklch(24.2% 0.0115 136.6);
    --sidebar-primary: oklch(55% 0.1742 142.4);
    --sidebar-primary-foreground: oklch(1 0 0);
    --sidebar-accent: oklch(93.6% 0.005 136.6);
    --sidebar-accent-foreground: oklch(24.2% 0.0115 136.6);
    --sidebar-border: oklch(88.6% 0.0057 136.6);
    --sidebar-ring: oklch(55% 0.1742 142.4);
  }

  .dark {
    --background: oklch(17.8% 0.0031 136.6);
    /* gray-1 #101110 */
    --foreground: oklch(94.9% 0.0024 136.6);
    /* gray-12 #EDEEED */
    --card: oklch(21.3% 0.003 136.6);
    /* gray-2 #181918 */
    --card-foreground: oklch(94.9% 0.0024 136.6);
    /* gray-12 #EDEEED */
    --popover: oklch(21.3% 0.003 136.6);
    /* gray-2 #181918 */
    --popover-foreground: oklch(94.9% 0.0024 136.6);
    /* gray-12 #EDEEED */
    --primary: oklch(55% 0.1742 142.4);
    /* green-9 #1B8917 */
    --primary-foreground: oklch(1 0 0);
    /* white #FFFFFF */
    --secondary: oklch(28.3% 0.004 136.6);
    /* gray-4 #292A28 */
    --secondary-foreground: oklch(94.9% 0.0024 136.6);
    /* gray-12 #EDEEED */
    --muted: oklch(28.3% 0.004 136.6);
    /* gray-4 #292A28 */
    --muted-foreground: oklch(77% 0.0092 136.6);
    /* gray-11 #B1B6B0 */
    --accent: oklch(28.3% 0.004 136.6);
    /* gray-4 #292A28 */
    --accent-foreground: oklch(94.9% 0.0024 136.6);
    /* gray-12 #EDEEED */
    --destructive: oklch(0.577 0.245 27.325);
    /* #E7000B */
    --destructive-foreground: oklch(98.5% 0 0);
    /* #FAFAFA */
    --border: oklch(34.9% 0.0055 136.6);
    /* gray-6 #393B38 */
    --input: oklch(31.3% 0.0047 136.6);
    /* gray-5 #30322F */
    --ring: oklch(55% 0.1742 142.4);
    /* green-9 #1B8917 */

    --sidebar-background: oklch(19.5% 0.003 136.6);
    --sidebar-foreground: oklch(94.9% 0.0024 136.6);
    --sidebar-primary: oklch(55% 0.1742 142.4);
    --sidebar-primary-foreground: oklch(1 0 0);
    --sidebar-accent: oklch(25.5% 0.004 136.6);
    --sidebar-accent-foreground: oklch(94.9% 0.0024 136.6);
    --sidebar-border: oklch(32% 0.005 136.6);
    --sidebar-ring: oklch(55% 0.1742 142.4);
  }
}

@layer base {
  * {
    border-color: var(--color-border);
  }

  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
  }
}